<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/style.css">
    <title th:text="'List comments of '+ ${book.title}">List comments of book</title>
</head>
<body>
<ul>
    <li><a th:href="@{/}">Books</a></li>
    <li> <a th:href="@{/authors}">Authors</a></li>
    <li><a th:href="@{/genres}">Genres</a></li>
</ul>
<h3 th:text="'Comments of '+ ${book.title}">Comments of book:</h3>
<table class="default">
    <thead>
    <tr>
        <th>ID</th>
        <th>Comment</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment: ${comments}">
        <td th:text="${comment.id}">1</td>
        <td th:text="${comment.comment}">Good book</td>
        <td>
            <a href="edit_comment.html" th:href="@{/edit_comment(id=${comment.id},book_id=${book.id})}">Edit</a>
        </td>
        <td>
            <form action="#" th:action="@{/delete_comment(id=${comment.id},book_id=${book.id})}" th:method="delete">
                <button id="delete-button" class="delete-button" type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</br>
<button type="button" th:onclick="|window.location.href='@{/create_comment(book_id=${book.id})}'|">Add new comment</button>
</body>
</html>
